*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.header{
    width:100%;
    height: 100%;
    background-image: linear-gradient(rgba(1,1,1,0),rgba(0,0,1,1)),url(images/c1.png);
    text-align: center;
}

.maindiv3{
    background-color:white;
    width: 50%;
    float: right;
    height: 100%;
    box-shadow: 10px 10px 100px 10px; 
    padding-top: 40px;
    border: 1px solid white;
    border-radius: 10%;
}

h1{
    color: grey;
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
    padding-right:50px; 
}

.login1{
    margin-top: 190px;
    width: 100%;
}

.lable{
    display:block;
    text-align:left;
    padding-left: 270px;
    clear: both;
    color: grey;
      
}

.field1{
    height: 40px;
    padding-left:10px;
    padding-right: 50px;
    width: 260px;
    border: 1px solid #ccc;
}

.field2{
    height: 40px;
    padding-left:10px;
    padding-right: 50px;
    width: 260px;
    border: 1px solid #ccc;
}

.btn{
    width: 260px;
    height: 30;
    background-color: blue;
    color: #ffff;
    border: none;
}

.btn:active{
    cursor: progress;

}

.field1:hover{
    border: 1px soild blue;
}
    
.login1 i{
    position: fixed;
    padding-left: 230;
    padding-top: 10;
}

.divback{
    float: left;
    padding-left:60px;
    padding-top: 50px;
    font-size: 18px;        
}

i{
    color: grey;
}