*{
    margin: 0;
    padding: 0;
    /*overflow: hidden;*/
    
}

.tabs{
    border:1px solid #cccccc;
    display:flex;
    height: 100%;  
}

.tabs__sidebar{
    width: 145px;
    flex-shrink: 0;
    background: blue;
}

.tabs__button{
    display: block;
    padding: 10px;
    background: #eeeeee;
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    text-align: left;
    font-family: serif;
    font-size:16px;  
}

.tabs__button:active{
    background: #dddddd;
}

.tabs__button:not(:last-of-type){
    border-bottom: 1px solid #cccccc;
}

.tabs__button--active{
    font-weight: bold;
    border-right: 3px solid red;  /* #009879  */
    background: blue;
    color: #ffffff;
}

.tabs__content{
    padding: 15px;
    font-size: 0.8rem;
    display: none;
    transition: 2s;
}

.tabs__content--active{
    display: block;
}

.tabs__content > :first-child{
    margin-top: 0;
}

img{
   width:99%;
   height: 14rem;
   padding-bottom: 22px;
   display: block;
   transition: 0.8s;
   transition-timing-function: linear;
   transition-duration: 2s;
}
.space{
    height: 80px;
}

.space2{
    height: 90px;
    border: 1px solid #eeeeee;
    background-color: white;  
}

.space3{
    background: blue;
    height: 90%;
    width: 500px;   /*500px*/
    border-radius: 20px;
    padding: 15px;
    box-shadow: 10px 10px 10px;
    margin-top: 0px;
    flex-shrink: 0;
}

.edu{
    height: 60px;
}

html{
    font-size: 95%;
}

.space4{
    text-align: center;
    background:#ffffff;
    height: 50px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 25px;
    font-size: 18px;  
    margin-left: 60px;
    margin-right: 60px;
    box-shadow: 10px 10px 20px 0px black;
    padding-top: 17px;
}

.space4:hover{
    box-shadow: none;
    background-image: linear-gradient(to right,#8A2387,#E94057);
    transition: 1s;
    color:white;
    margin-left: 80px;
    margin-right: 80px;
    cursor: pointer;
    font-weight: bold;
}

.space4:active{
    height: 65px;
    margin-left: 60px;
    margin-right: 60px;
}

i{
    margin-right: 5px;
    color: purple;
}

.fa-angle-left{
    float: right;
    font-size: 20px;    
    margin-top: 40px;
}


.space5{
    float: right;
    width:800px;
    height: 100%;
    margin-left:550px;
    display: flex;
    justify-content: center;  
}



h2{
    font-size:25px;
}

p{
    font-size: 16px;
}

h3{
    font-size: 20px;
}







