*{
    margin: 0;
    padding: 0;
    /*overflow: hidden;*/
    
}

.tabs{
    border:1px solid #cccccc;
    display:flex;
    height: 100%;  
    width: 100%;
}

.tabs__sidebar{
    width: 145px;
    flex-shrink: 0;
    background: blue;
}

.tabs__button{
    display: block;
    padding: 10px;
    background: #eeeeee;
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    text-align: left;
    font-family: serif;
    font-size:16px;  
}

.tabs__button:active{
    background: #dddddd;
}

.tabs__button:not(:last-of-type){
    border-bottom: 1px solid #cccccc;
}

.tabs__button--active{
    font-weight: bold;
    border-right: 3px solid red;  
    background: blue;
    color: #ffffff;
}

.tabs__content{
    padding: 15px;
    font-size: 0.8rem;
    display: none;
    transition: 2s;
}

.tabs__content--active{
    display: block;
}

.tabs__content > :first-child{
    margin-top: 0;
}

img{
   width:99%;
   height: 14rem;
   padding-bottom: 22px;
   display: block;
   transition: 0.8s;
   transition-timing-function: linear;
   transition-duration: 2s;
}
.space{
    height: 80px;
}

.space2{
    height: 90px;
    border: 1px solid #eeeeee;
    background-color: white;  
}



.edu{
    height: 60px;
}

html{
    font-size: 95%;
}



i{
    margin-right: 5px;
    color: purple;
}

.fa-angle-left{
    float: right;
    font-size: 20px;    
    margin-top: 40px;
}

h2{
    font-size:25px;
}

p{
    font-size: 16px;
}

h3{
    font-size: 20px;
}


.divmarks{
    width: 1210px;
    height: auto;
    background: #f6f7f5;
    padding-bottom: 1rem;
    border: 1px solid #dddddd;
    
}
.tb2{
    margin: 10px;
    padding: 1px;
    border: 1px solid #dddddd;
    width: 1130px;
    margin-top: 2rem;
}
.innermarks{
    width: 1150px;
    height: auto;
    margin-left: 1.4rem;
    margin-top: 1.5rem;
    box-shadow: 0px 0px 4px 1px; 
    background: white;
    padding-bottom: 1rem;
    padding-top: 1rem;
}


.marks1{
    text-align: center;
    padding: 15px;
    width: 21rem;
    align-items: center;
    border-radius: 10px;
    font-size: 20px;
}
.marks2{
    text-align: center;
    padding: 15px;
    width: 21rem;
    align-items: center;
    border-radius: 10px;
    font-size: 20px;
}
.innerdiv{
    border: 1px solid blue;
    padding: 15px;
    width: 19rem;
    margin-left: 70px;
    margin-right: 70px;
    transition: 2sec;
}
.innerdiv2{
    border: 1px solid blue;
    padding: 15px;
    width: 19rem;
    margin-left: 70px;
    margin-right: 70px;
    
}
.innerdiv:hover{
   width: 17rem;
   margin-left: 90px;
   margin-right: 90px;
    cursor: pointer;
    
}
.innerdiv2:hover{
   width: 17rem;
   margin-left: 90px;
   margin-right: 90px;
    cursor: pointer;
}

.make{
    width: 33rem;
}

.head2{
    font-size: 20px;
}















